<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <style>
        #lr {
            text-decoration: none;
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AboutUs</title>
</head>

<body>
    <p>Hi welcome to this page .I am the author of this blog.Nice Intro BBye</p>
    <br><a id="lr" href="/">home</a>
</body>

</html>